include('templates/tyt-el-rhel-8.tpl')
include('templates/tyt-el-epel-8.tpl')

config_opts['root'] = 'tyt-rhel8-{{ ansible_architecture }}'
config_opts['target_arch'] = '{{ ansible_architecture }}'
config_opts['legal_host_arches'] = ('{{ ansible_architecture }}',)

{% if use_rhn == true %}
config_opts['redhat_subscription_key_id'] = {{ redhat_subscription_key_id }}
{% endif %}
 
