config_opts['chroot_setup_cmd'] += " epel-release epel-rpm-macros fedpkg-minimal"

config_opts['dnf.conf'] += """

{% if use_mirror == false %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-8&arch=$basearch
failovermethod=priority
gpgkey=file:///usr/share/distribution-gpg-keys/epel/RPM-GPG-KEY-EPEL-8
gpgcheck=1
skip_if_unavailable=False

[epel-testing]
name=Extra Packages for Enterprise Linux $releasever - Testing - $basearch
enabled=0
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=testing-epel8&arch=$basearch
failovermethod=priority
skip_if_unavailable=False

[local]
name=local
baseurl=https://kojipkgs.fedoraproject.org/repos/epel8-build/latest/$basearch/
cost=2000
enabled=0
skip_if_unavailable=False

[epel-debuginfo]
name=Extra Packages for Enterprise Linux $releasever - $basearch - Debug
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-debug-8&arch=$basearch
failovermethod=priority
enabled=0
skip_if_unavailable=False

[epel-source]
name=Extra Packages for Enterprise Linux $releasever - $basearch - Source
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-source-8&arch=$basearch
failovermethod=priority
enabled=0
skip_if_unavailable=False

[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-modular-8&arch=$basearch
failovermethod=priority
enabled=0
skip_if_unavailable=False

[epel-modular-debuginfo]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch - Debug
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-modular-debug-8&arch=$basearch
failovermethod=priority
enabled=0
skip_if_unavailable=False

[epel-modular-source]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch - Source
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-modular-source-8&arch=$basearch
failovermethod=priority
enabled=0
skip_if_unavailable=False
"""

{% else %}
[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Everything/$basearch
failovermethod=priority
gpgkey=http://{{ mirror }}/{{ m_epel_k }}
gpgcheck=1
skip_if_unavailable=False

[epel-testing]
name=Extra Packages for Enterprise Linux $releasever - Testing - $basearch
enabled=0
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/testing/Everything/$basearch
failovermethod=priority
skip_if_unavailable=False

[local]
name=local
baseurl=https://kojipkgs.fedoraproject.org/repos/epel8-build/latest/$basearch/
cost=2000
enabled=0
skip_if_unavailable=False

[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Modular/$basearch
failovermethod=priority
enabled=0
skip_if_unavailable=False

"""
{% endif %}
