#!/bin/bash

##
## This script is used to sync data from main Red Hat servers to
## a local server directory. It requires that you have set up the
## appropriate certificates on the system for this.
## This requires user to have set up certificates according to
## https://access.redhat.com/solutions/60702
## https://access.redhat.com/management/systems/create
## Attach a subscription the certificate and then click the download
## certificates button which will give you a zip file. You will need to
## split the entitlement pem into a -key with the private and a public
## with everything else.

##

##
# Setup the directories we will sync down to.
RHEL8SYNCDIR={{ server_homedir}}/redhat/rhel/8
SYNCDIR=/var/cache/reposync/

##
# Need to download the metadata and the modular data
DNFOPTS='--download-metadata -m --setopt=module_platform_id="platform:el8"'
# Need to set the arches we are going to sync down
ARCHES="aarch64 x86_64"

##
# Do the deeds


cd ${RHEL8SYNCDIR}

# Make the sync dir where dnf will drop stuff. This disappeared once
# and caused the script to die so we do this explicitely now.
mkdir -vp ${SYNCDIR}

##
## Sync Out RHEL-8 for appropriate arches
for A in ${ARCHES}; do

    # In case we have a bad sync from before, make sure the old sync
    # data is destroyed.
    rm -rf ${SYNCDIR}/${A}

    # Configuration files for yum4 should fit this pattern.
    CONF=dnf-rhel8-${A}.repo

    # Setup the repos you are going to sync out of the config file in
    # this pattern. This makes it easier for koji configs later
    REPOS="appstream baseos codeready-builder"

    for R in ${REPOS}; do
	echo "Syncing ${R} for ${A}"
	# x86_64 is 'special' because we have to tell it for i686 also.
	if [[ ${A} == 'x86_64' ]]; then
	    dnf reposync -c ${RHEL8SYNCDIR}/${CONF} ${DNFOPTS}  --repoid=${R} -a ${A} -a noarch -a i686 -p ${A}
	else
	    dnf reposync -c ${RHEL8SYNCDIR}/${CONF} ${DNFOPTS}  --repoid=${R} -a ${A} -a noarch -p ${A}
	fi
	if [[ $? -ne 0 ]]; then
	    echo "Something went wrong with dnf reposync -c ${RHEL8SYNCDIR}/${CONF} --repoid ${R} -a ${A} -p ${A}"
	fi
    done
done

