#!/bin/bash

##
## This script is used to sync data from main download servers to
## a local server directory
##

RSYNC='/usr/bin/rsync'
RS_OPT="-avSHP  --numeric-ids --log-file=/var/log/rsync-update.log"
RS_DEADLY="--delete --delete-excluded "
RS_SERVER="{{ centos_upstream_mirror }}"
EPL_EXCLUDES=""
FED_EXCLUDES=""
CEN_EXCLUDES="--exclude=ppc64le --exclude=s390x --exclude=ppc64"

HOMEDIR="{{ server_homedir }}/centos"

if [[ ! -d ${HOMEDIR} ]]; then
    mkdir -vp --mode=0755 ${HOMEDIR}
    chown -c root.root ${HOMEDIR}
fi

mkdir -vp --mode=0755 ${HOMEDIR}/8/
# CentOS 8
${RSYNC} ${RS_OPT} ${RS_DEADLY} ${CEN_EXCLUDES} ${RS_SERVER}::centos/8/ ${HOMEDIR}/8/ | tail -n2 | logger -p local0.notice -t rsync_centos
if [[ $? -ne 0 ]]; then
    echo "Unable to finish sync to CentOS"
fi

mkdir -vp --mode=0755 ${HOMEDIR}/8-stream/
# CentOS 8-stream
${RSYNC} ${RS_OPT} ${RS_DEADLY} ${CEN_EXCLUDES} ${RS_SERVER}::centos/8-stream/ ${HOMEDIR}/8-stream/ | tail -n2 | logger -p local0.notice -t rsync_centos_stream
if [[ $? -ne 0 ]]; then
    echo "Unable to finish sync to CentOS"
fi
