[epel-modular]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Modular/$basearch
#metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-modular-$releasever&arch=$basearch&infra=$infra&content=$contentdir
enabled=1
gpgkey=http://{{ mirror }}/{{ m_epel_k }}
gpgcheck=1
countme=1

[epel-modular-debuginfo]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch - Debug
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Modular/$basearch/debug
#metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-modular-debug-$releasever&arch=$basearch&infra=$infra&content=$contentdir
enabled=0
gpgkey=http://{{ mirror }}/{{ m_epel_k }}
gpgcheck=1

[epel-modular-source]
name=Extra Packages for Enterprise Linux Modular $releasever - $basearch - Source
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Modular/SRPMS
#metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-modular-source-$releasever&arch=$basearch&infra=$infra&content=$contentdir
enabled=0
gpgkey=http://{{ mirror }}/{{ m_epel_k }}
gpgcheck=1
