[epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Everything/$basearch
#metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-$releasever&arch=$basearch&infra=$infra&content=$contentdir
enabled=1
gpgkey=http://{{ mirror }}/{{ m_epel_k }}
gpgcheck=1
countme=1

[epel-debuginfo]
name=Extra Packages for Enterprise Linux $releasever - $basearch - Debug
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Everything/$basearch/debug
#metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-debug-$releasever&arch=$basearch&infra=$infra&content=$contentdir
enabled=0
gpgkey=http://{{ mirror }}/{{ m_epel_k }}
gpgcheck=1

[epel-source]
name=Extra Packages for Enterprise Linux $releasever - $basearch - Source
baseurl=http://{{ mirror }}/{{ m_epel }}/$releasever/Everything/SRPMS
#metalink=https://mirrors.fedoraproject.org/metalink?repo=epel-source-$releasever&arch=$basearch&infra=$infra&content=$contentdir
enabled=0
gpgkey=http://{{ mirror }}/{{ m_epel_k }}
gpgcheck=1
