[rhel-8-baseos-mirror]
name = Red Hat Enterprise Linux 8 for $basearch - BaseOS Mirror
baseurl = http://{{ mirror }}/{{ m_r8 }}/$basearch/baseos/
enabled =  1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta,file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
metadata_expire = 86400
enabled_metadata = 1

[rhel-8-appstream-mirror]
name = Red Hat Enterprise Linux 8 for $basearch - AppStream Mirror
baseurl = http://{{ mirror }}/{{ m_r8 }}/$basearch/appstream/
enabled =  1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta,file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
metadata_expire = 86400
enabled_metadata = 1

[rhel-8-codeready-mirror]
name = Red Hat Enterprise Linux 8 for $basearch - CRB Mirror
baseurl = http://{{ mirror }}/{{ m_r8 }}/$basearch/codeready-builder/
enabled =  1
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta,file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
metadata_expire = 86400
enabled_metadata = 0

